<h4>Situação</h4>
<input type="checkbox" name="cbStatus" onclick="setFilter(this.value,this.name);" id="situacao_perdido" value="Perdido" /> 
<label for="situacao_perdido">Perdido</label>
<input type="checkbox" name="cbStatus" onclick="setFilter(this.value,this.name);" id="situacao_encontrado" value="Resgatado" /> 
<label for="situacao_encontrado">Resgatado</label>
<input type="checkbox" name="cbStatus" onclick="setFilter(this.value,this.name);" id="situacao_avistado" value="Avistado" /> 
<label for="situacao_avistado">Avistado</label>
<input type="checkbox" name="cbStatus" onclick="setFilter(this.value,this.name);" id="situacao_doacao" value="Adoção" /> 
<label for="situacao_doacao">Adoação</label>

<h4>Porte</h4>
<input type="checkbox" name="cbSize" onclick="setFilter(this.value,this.name);" id="porte_pequeno" value="Pequeno" /> 
<label for="porte_pequeno">Pequeno</label>
<input type="checkbox" name="cbSize" onclick="setFilter(this.value,this.name);" id="porte_medio" value="Médio" />
<label for="porte_medio">Médio</label>
<input type="checkbox" name="cbSize" onclick="setFilter(this.value,this.name);" id="porte_grande" value="Grande" /> 
<label for="porte_grande">Grande</label>

<h4>Idade</h4>
<input type="checkbox" name="cbAge" onclick="setFilter(this.value,this.name);" id="idade_filhote" value="Filhote" /> 
<label for="idade_filhote">Filhote</label>
<input type="checkbox" name="cbAge" onclick="setFilter(this.value,this.name);" id="idade_adulto" value="Adulto" /> 
<label for="idade_adulto">Adulto</label>
<input type="checkbox" name="cbAge" onclick="setFilter(this.value,this.name);" id="idade_idoso" value="Idoso" /> 
<label for="idade_idoso">Idoso</label>

<h4>Comportamento</h4>
<input type="checkbox" name="cbBehaviour" onclick="setFilter(this.value,this.name);" id="comportamento_calmo" value="Calmo" /> 
<label for="comportamento_calmo">Calmo</label>
<input type="checkbox" name="cbBehaviour" onclick="setFilter(this.value,this.name);" id="comportamento_brincalhao" value="Brincalhão" /> 
<label for="comportamento_brincalhao">Brincalhão</label>
<input type="checkbox" name="cbBehaviour" onclick="setFilter(this.value,this.name);" id="comportamento_dorminhoco" value="Dorminhoco" /> 
<label for="comportamento_dorminhoco">Dorminhoco</label>
<input type="checkbox" name="cbBehaviour" onclick="setFilter(this.value,this.name);" id="comportamento_passeador" value="Passeador" /> 
<label for="comportamento_passeador">Passeador</label>

<h4>Aparência</h4>
<input type="checkbox" name="cbApperance" onclick="setFilter(this.value,this.name);" id="aparecia_pelo_curto" value="Pelo Curto" /> 
<label for="aparecia_pelo_curto">Pelo Curto</label>
<input type="checkbox" name="cbApperance" onclick="setFilter(this.value,this.name);" id="aparencia_pelo_comprido" value="Pelo Longo" /> 
<label for="aparencia_pelo_comprido">Pelo Longo</label>

