<a href="javascript:void(0)" class="btn_main" onClick="quickGeolocation()"> Pegar minha localização  </a>
<a href="javascript:void(0)" class="btn2" onClick="setGeolocation()"> Pegar minha configuração  </a>
            