<% provide(:title, "Sobre o projeto") %>
<h1>Sobre o projeto</h1>
<br />
<div>
    <p>
        O projeto LosPets nasceu da ideia de um projeto de conclusão de curso em 2017 da <%= link_to "Faculdade Senac RS de Porto Alegre","https://www.senacrs.com.br/unidades.asp?unidade=63"%>.<br />
        O Enfoque do sistema é em auxíliar pessoas que perderam seu animal de estimação ou pessoas que resgaratam um animal da rua a divulgar a informação e assim encontrar o lar para o mesmo. <br />
        <br />
        Este projeto não tem fins lucrativos, tendo apenas o custo de sua manutenção.<br />
        <br />
        As informações cadastradas no sistema não serão divulgadas e usadas para outros fins além das funcionalidades do sistema.<br />
    </p>
    <br />
    <br />
</div>
<div>
    <h3>Informações técnicas</h3>
    <p>
        As informações técnicas do sistema podem ser encontradas no <%= link_to "Github", "https://github.com/tkreque/lospets-ruby" %>.
    </p>
</div>