<% provide(:title, "Ajude-me") %>
<h1>Ajude-me</h1>
<br />
<div>
    <h3>Perguntas</h3>
    <br />
    <div>
        <p><b>Para usar o sistema é necessário pagar algo?</b></p>
        <p><i>Não, o sistema é gratuito e visa apenas em ajudar as pessoas a encontrarem seus animais de estimação <3 </i></p>
    </div>
    <br />
    <div>
        <p><b>Quanto tempo as informações ficam no sistema?</b></p>
        <p><i>As informações referentes a animais de estimação perdidos, encontrados ou para adoção ficam no sistema indefinidamente, porém os animais avistados tem um ciclo de vida de 1 mês.</i></p>
    </div>
    <br />
    <div>
        <p><b>Eu preciso me cadastrar para usar o sistema?</b></p>
        <p><i>Depende. É necessário se cadastrar para postar seu animal de estimação no mapa porém não é necessário para enviar ou compartilhar informações.</i></p>
    </div>
    <br />
    <div>
        <p><b>Posso divulgar animais para adoção?</b></p>
        <p><i>Sim. Porém pode ficar difícil sua visualização no mapa, estamos tratando de deixar esta experiência melhor, sendo que este não foi o enfoque pricipal do sistema.</i></p>
    </div>
    <br />
    <div>
        <p><b>Vou receber algum tipo de propaganda ou spam?</b></p>
        <p><i>Não. As informações que você irá receber são apenas de quando um novo contato for realizado, através das opções de notificação que você deixou ativas (por padrão e-mail e SMS vem ativos, você pode alterar no seu cadastro se assim prefirir).</i></p>
    </div>
    <br />
    <div>
        <p><b>Como vou saber se as informações recebidas são verídicas?</b></p>
        <p><i>Nós não temos como garantir a autenticidade das informações divulgadas por outros usuários, desta forma não nos responsabilizamos pelas informações divulgadas, ficando a seu critério levar as mesmas em consideração.</i></p>
    </div>
    <br />
    <div>
        <p><b>Existe alguma moderação das informações divulgadas?</b></p>
        <p><i>Este processo ocorre de forma manual e não temos um time para isto, sendo assim podemos deixar passar algo, caso você identifique algum tipo de abuso peço que entre em contato para revisarmos.</i></p>
    </div>
    <br />
    <div>
        <p><b>Posso ajudar de alguma forma?</b></p>
        <p><i>Sim. O código do sistema se encontra público no <%= link_to "Github", "https://github.com/tkreque/lospets-ruby" %> e estamos abertos a contribuições e sugestões de melhorias. Caso você queira ajudar de outra forma pode entrar em contato conosco ou com algum dos projetos abaixo :).</i></p>
    </div>
</div>
