<% provide(:title, "Home") %>
<div class='maps'>
    <input id="mapsSearch" class="controls" type="text" placeholder="Search Box" />
    <div id='map'></div>
    <div id='mapsLegend'><h3>Legenda</h3></div>
</div>

<div class='mapsFilters'>
    <h3>Filtros</h3>
    <!--<input type="button" onclick="resetMap()" value="Resetar" /><br />-->
    
    <h4>Raio</h4>
    <input style="margin-left: 20px; width: 50%;" type="range" value="1" min="0.5" max="20" step="0.5" name="slider_raio" onchange="setSquare(this.value)"  oninput="display.value=slider_raio.value" id="slider_raio" />
    Km: <output id="display" style="color: black; width: 10%; margin: 0px;" name="display" for="slider_raio">1</output><br />
    
    <h4>Porte</h4>
    <input type="checkbox" name="cbSize" onclick="setFilter();" id="Pequeno" value="Pequeno" checked /> <small>Pequeno</small>
    <input type="checkbox" name="cbSize" onclick="setFilter();" id="Médio" value="Médio" checked /> <small>Médio</small>
    <input type="checkbox" name="cbSize" onclick="setFilter();" id="Grande" value="Grande" checked /> <small>Grande</small>
    
    <h4>Idade</h4>
    <input type="checkbox" name="cbAge" onclick="setFilter();" id="Filhote" value="Filhote" checked /> <small>Filhote</small>
    <input type="checkbox" name="cbAge" onclick="setFilter();" id="Adulto" value="Adulto" checked /> <small>Adulto</small>
    <input type="checkbox" name="cbAge" onclick="setFilter();" id="Idoso" value="Idoso" checked /> <small>Idoso</small>
    
    <h4>Comportamento</h4>
    <input type="checkbox" name="cbBehaviour" onclick="setFilter();" id="Calmo" value="Calmo" checked /> <small>Calmo</small>
    <input type="checkbox" name="cbBehaviour" onclick="setFilter();" id="Brincalhão" value="Brincalhão" checked /> <small>Brincalhão</small>
    <input type="checkbox" name="cbBehaviour" onclick="setFilter();" id="Dorminhoco" value="Dorminhoco" checked /> <small>Dorminhoco</small>
    <input type="checkbox" name="cbBehaviour" onclick="setFilter();" id="Passeador" value="Passeador" checked /> <small>Passeador</small>
    
    <h4>Aparência</h4>
    <input type="checkbox" name="cbApperance" onclick="setFilter();" id="Pelo Curto" value="Pelo Curto" checked /> <small>Pelo Curto</small>
    <input type="checkbox" name="cbApperance" onclick="setFilter();" id="Pelo Comprido" value="Pelo Comprido" checked /> <small>Pelo Comprido</small>
    
    
    <h4>Situação</h4>
    <input type="checkbox" name="cbStatus" onclick="setFilter();" id="Perdido" value="Perdido" checked /> <small>Perdido</small>
    <input type="checkbox" name="cbStatus" onclick="setFilter();" id="Encontrado" value="Encontrado" checked /> <small>Encontrado</small>
    <input type="checkbox" name="cbStatus" onclick="setFilter();" id="Avistado" value="Avistado" checked /> <small>Avistado</small>
    <input type="checkbox" name="cbStatus" onclick="setFilter();" id="Doação" value="Doação" checked /> <small>Doação</small>
    
    
</div>

<script>
     <%= render(:partial => "static_pages/maps.js") %> 
 </script>