<% provide(:title, "Home") %>
<div class='maps'>
    <!--<div class='mapsSearchBox'></div>-->
    <div id='map'></div>
    <div class='mapsLegend'></div>
</div>

<div class='mapsFilters'>
    
</div>

<script>
     <%= render(:partial => "static_pages/maps.js") %> 
 </script>