<% provide(:title, "Home") %>
<div class='maps'>
    <input id="mapsSearch" class="controls" type="text" placeholder="Search Box" />
    <div id='map'></div>
    <div id='mapsLegend'><h3>Legenda</h3></div>
</div>

<div class='mapsFilters'>
    <div class="filterButton">
        <i class="material-icons">pets</i>
    </div>
    
    <div class="filterContent">
        <div class="filterContent-overflow">
            <h3>Filtros</h3>
            <!--<input type="button" onclick="resetMap()" value="Resetar" /><br />-->
            
            <h4>Raio</h4>
            <input style="margin-left: 20px; width: 50%;" type="range" value="1" min="0.5" max="20" step="0.5" name="slider_raio" onchange="setSquare(this.value)"  oninput="display.value=slider_raio.value" id="slider_raio" />
            Km: <output id="display" style="color: black; width: 10%; margin: 0px;" name="display" for="slider_raio">1</output><br />
            
            <h4>Porte</h4>
            <input type="checkbox" name="cbSize" onclick="setFilter();" id="porte_pequeno" value="Pequeno" checked /> <label for="porte_pequeno">Pequeno</label>
            <input type="checkbox" name="cbSize" onclick="setFilter();" id="porte_medio" value="Médio" checked /> <label for="porte_medio">Médio</label>
            <input type="checkbox" name="cbSize" onclick="setFilter();" id="porte_grande" value="Grande" checked /> <label for="porte_grande">Grande</label>
            
            <h4>Idade</h4>
            <input type="checkbox" name="cbAge" onclick="setFilter();" id="idade_filhote" value="Filhote" checked /> <label for="idade_filhote">Filhote</label>
            <input type="checkbox" name="cbAge" onclick="setFilter();" id="idade_adulto" value="Adulto" checked /> <label for="idade_adulto">Adulto</label>
            <input type="checkbox" name="cbAge" onclick="setFilter();" id="idade_idoso" value="Idoso" checked /> <label for="idade_idoso">Idoso</label>
            
            <h4>Comportamento</h4>
            <input type="checkbox" name="cbBehaviour" onclick="setFilter();" id="comportamento_calmo" value="Calmo" checked /> <label for="comportamento_calmo">Calmo</label>
            <input type="checkbox" name="cbBehaviour" onclick="setFilter();" id="comportamento_brincalhao" value="Brincalhão" checked /> <label for="comportamento_brincalhao">Brincalhão</label>
            <input type="checkbox" name="cbBehaviour" onclick="setFilter();" id="comportamento_dorminhoco" value="Dorminhoco" checked /> <label for="comportamento_dorminhoco">Dorminhoco</label>
            <input type="checkbox" name="cbBehaviour" onclick="setFilter();" id="comportamento_passeador" value="Passeador" checked /> <label for="comportamento_passeador">Passeador</label>
            
            <h4>Aparência</h4>
            <input type="checkbox" name="cbApperance" onclick="setFilter();" id="aparecia_pelo_curto" value="Pelo Curto" checked /> <label for="aparecia_pelo_curto">Pelo Curto</label>
            <input type="checkbox" name="cbApperance" onclick="setFilter();" id="aparencia_pelo_comprido" value="Pelo Comprido" checked /> <label for="aparencia_pelo_comprido">Pelo Comprido</label>
            
            
            <h4>Situação</h4>
            <input type="checkbox" name="cbStatus" onclick="setFilter();" id="situacao_perdido" value="situacao_perdido" checked /> <label for="situacao_perdido">Perdido</label>
            <input type="checkbox" name="cbStatus" onclick="setFilter();" id="situacao_encontrado" value="situacao_encontrado" checked /> <label for="situacao_encontrado">Encontrado</label>
            <input type="checkbox" name="cbStatus" onclick="setFilter();" id="situacao_avistado" value="situacao_avistado" checked /> <label for="situacao_avistado">Avistado</label>
            <input type="checkbox" name="cbStatus" onclick="setFilter();" id="situacao_doacao" value="situacao_doacao" checked /> <label for="situacao_doacao">Doação</label>
        </div>
    </div>
</div>

<script>
     <%= render(:partial => "static_pages/maps.js") %> 
 </script>