<% provide(:title, "Home") %>
<div class='maps'>
    <input id="mapsSearch" class="controls" type="text" placeholder="Search Box" />
    <div id='map'></div>
    <div id='mapsLegend'><h3>Legenda</h3></div>
</div>

<div class='mapsFilters'>
    <div class="filterButton">
        <i class="material-icons">pets</i>
    </div>

    <div class="filterContent">
        <div class="filterContent-overflow">
            <h3>Filtros</h3>
            
            <%= render 'static_pages/filters_location' %>
            <%= render 'static_pages/filters_square' %>
            <%= render 'static_pages/filters_tags' %>
        
        </div>
    </div>
</div>

<script>
    <%= render(:partial => "static_pages/maps.js") %> 
</script>