<% provide(:title, "Pet") %>
<h1>Editando perfil do Pet</h1>

<%= render 'form', pet: @pet %>

<%= link_to 'Perfil', @pet %> |
<%= link_to 'Delear Pet', @pet, method: :delete, data: { confirm: 'Você tem certeza que deseja excluir este Pet?' } %>
<br />
<%= link_to 'Voltar', pets_path %>
