@import '../variables.scss';

.appFooter {
    display: block;
    color: $fontColor;
    background: $lightMainBlue;
    text-align: center;
    .support, .socialMedias {
        display: inline-block;
    }
    .myInfo {
        text-align:center;
        padding: $spacing;
        background: darken($gray4, 15%);
        color: white;
    }

    .infos .content{
        text-align: center;
        display: flex;
        font-size: $fontSizeRegular;
       justify-content: space-around;
       padding: $spacing;
        
    }
}