@import '../variables.scss';
@import '../medias.scss';

.appHeader {
    padding: $spacing ($spacing * 2);
    background: $lightMainBlue;
    .superiorMenu {
        display: flex;
        justify-content: space-between;
        align-items: center;
        overflow: hidden;
    }
    
    .logoMenu {
        padding-right: $spacing;
        width: 125px;
        @include tablet() {
            width: 100px;
        }
        
    }
    
    .navegationMenu {
        flex-grow: 1;
        @include max-mobile() {
            position: absolute;
            top: 0;
            width: 200px;
            height: 100%;
            background: #d4eaf3;
            z-index: 999;
            overflow: hidden;
            left: -100%;
            transition: left 1s;
            &.menu-open {
                left: 0;
                & ~ .overlay {
                    display: block;
                }
            }
        }
        
        ul {
            @include tablet() {
              display: flex;
              justify-content: space-around;
              li {
                  display: block;
              }
            }
        }
        a {
            @include max-mobile(){
                text-align: middle;
                padding: $spacing;
                border-bottom: 1px solid;
                display: block;
            }
            color: black;
            font-weight: bold;
            text-transform: uppercase;
            
            &:hover {
                color: #555;
            }
        }
    }
    
    
    .userMenu {
        display: none;
        a {
            padding: $spacing ;
            display: block;
            width: 140px;
        }
        
        li {
            display: flex;
            justify-content: space-around;
            align-items: center;
            i {
                margin-left: $spacing;
                color: $darkMainBlue;
            }
            &:not(:last-child) {
                border-bottom: 1px solid;
            }
            
        }
    }
    
    .loginMenu {
        align-self: center;
        align-items: center;
        display: flex;
        position: relative;
        i {
            margin-right: $spacing;
        }
        &.loggedIn:hover {
            .userMenu {
                position: absolute;
                // top: ($spacing * 2.5);
                top: 22px;
                display: block;
                width: 180px;
                right: 0;
                text-align: left;
                background: #fff;
                border-radius: 5px;
                box-shadow: $grayShadown 2px 12px 20px
            }
            
            .dropdown {
                transform: rotate(180deg);
            }
        }
    }
    
    .menu-for-mobile {
        @include tablet() {
            display: none;
        }
    }
}