@import '../variables.scss';
@import '../medias.scss';

.appHeader {
    padding: $spacing ($spacing * 2);
    background: $lightMainBlue;
    .superiorMenu {
        display: flex;
        justify-content: space-between;
        align-items: center;
        
        @include tablet(){
            align-items: stretch;
        }
    }
    
    .logoMenu {
        padding-right: $spacing;
        width: 170px;
        @include tablet() {
            width: 120px;
        }
        
    }
    
    .navegationMenu {
        @include tablet() {
          flex-grow: 1;
          display: flex;
          justify-content: space-around;
          @include tablet(){
            align-items: stretch;
          }
          .loginMenu {
              order: 2;
          }
          
          ul {
              order: 1;
          }
        }
        
        @include max-tablet() {
            > ul {
                font-size: 13px;
                li {
                    text-align: center;
                }
            }
        }
        
        @include max-mobile() {
            position: absolute;
            top: 0;
            width: 200px;
            height: 100%;
            background: #d4eaf3;
            z-index: 999;
            overflow: hidden;
            left: -100%;
            transition: left 1s;
            &.menu-open {
                left: 0;
                & ~ .overlay {
                    display: block;
                }
            }
        }
        
        > ul {
            @include tablet() {
              display: flex;
              justify-content: space-around;
              flex-grow: 1;
              justify-content: space-around;
              align-items: center;

              li {
                  display: block;
                  max-width: 20%;
              }
            }
        }
        a {
            @include max-mobile(){
                text-align: middle;
                padding: $spacing;
                border-bottom: 1px solid;
                display: block;
            }
            color: black;
            font-weight: bold;
            text-transform: uppercase;
            
            &:hover {
                color: #555;
            }
        }
    }
    
    .profile-access {
        align-items: center;
        display: flex;
        padding: $spacing / 2;
        @include tablet() {
           border-left: 1px solid #d6e2e6
        }
        
        @include max-mobile (){
            background: white;
            color: $darkMainBlue;
        }
    }
    
    .userMenu {
        display: none;
        @include max-mobile(){
            overflow: hidden;
            padding: ($spacing / 2);
            
            ul {
               background: #f7f8f9;
               border-radius: 5px;
               border: 1px solid #bbbec1;
            }
            
            li a {
                width: 100%;
                font-size: 13px;
            }
        }
        
        a {
            padding: $spacing ;
            display: block;
            width: 140px;
        }
        
        li {
            display: flex;
            justify-content: space-around;
            align-items: center;
            i {
                margin-left: $spacing;
                color: $darkMainBlue;
            }
            &:not(:last-child) {
                border-bottom: 1px solid;
            }
            
        }
    }
    
    .loginMenu {
        @include max-mobile() {
            font-size: 16px;
            font-weight: bold;
            background: white;
            a {
                border-bottom: none;
            }
       
        }
        @include max-tablet() {
            &.open {
              .userMenu {
                display: block;
                 
              }
              
              
              .dropdown {
                transform: rotate(180deg);
              }
                
            }
        }
        @include tablet(){
          border-left: 1px solid #56AACC;
          align-items: stretch;
          display: flex;
          position: relative;
          
          &.open {
              .userMenu {
                  position: absolute;
                  z-index: 9999;
                  // top: ($spacing * 2.5);
                  top: 100%;
                  display: block;
                  width: 180px;
                  right: 0;
                  text-align: left;
                  background: #fff;
                  border-radius: 5px;
                  box-shadow: $grayShadown 2px 12px 20px
              }
          }
        }
        
        
        
        i:first-child {
            margin-right: ($spacing/2);
        }
        
        img {
            margin-right: ($spacing/2);
            max-width: 40px;
        }
        
        
        &.logedOff {
          @include tablet(){
              display: table;
              border-left: none;
              padding: 0 $spacing;
              height: 100%;
              background: $darkMainBlue;
              border-radius: 5px;
              ul {
                  display: table-cell;
                  vertical-align: middle;
                  li:first-child {
                      margin-bottom: ($spacing / 2);
                  }
              }
              a {
                  font-size: 12px;
                  color: white;
              }
          }    
        }
        
        // &.loggedIn,
        &.userMenu ul:hover,
        &.userMenu ul li:hover,
        &.loggedIn:hover {
            
            @include desktop {
              .userMenu {
                position: absolute;
                z-index: 9999;
                // top: ($spacing * 2.5);
                top: 100%;
                display: block;
                width: 180px;
                right: 0;
                text-align: left;
                background: #fff;
                border-radius: 5px;
                box-shadow: $grayShadown 2px 12px 20px
              }
              .dropdown {
                transform: rotate(180deg);
              }
            }
            
            
        }
    }
    
    .menu-for-mobile {
        margin-left: ($spacing * 2);
        
        i {
            border-radius: 5px;
            font-size: 40px;
        }
        @include tablet() {
            display: none;
        }
    }
}