@import 'variables.scss';
@import 'medias.scss';
// @import 'google_maps.scss';

// 
//sections
// @import 'sections/header.scss';
// @import 'sections/footer.scss';

img {
    max-width: 100%;
}

a {
    color: $darkMainBlue;
    text-decoration: none;
    &:hover,
    &:active {
        color: darken($darkMainBlue, 25%);
    }
}



html, body {
	height: 100%;
}


.appBody {
    padding: $spacing ($spacing * 2);
    position: relative;
    @include tablet(){
    	min-height: 650px;
    }
}

input[type="checkbox"] {
  display: none;    
}

input[type="checkbox"] + label {
    color: $darkMainBlue;
    position: relative;
    cursor: pointer;
    font-size: 20px;
    &:before {
        width: 16px;
        height: 16px;
        content: "";
        border: 1px solid $darkMainBlue;
        display: inline-block;
        border-radius: 2px;
        margin-right: ($spacing/2);
    }
    @include tablet() {
    	font-size: 17px;
    	&:before {
    		position: relative;
    		top: 2px;
    	}
    }
}

input[type="checkbox"]:checked + label:after {
    content: "";
    height: 12px;
    width: 12px;
    background: #0d85b5;
    position: absolute;
    left: 3px;
    bottom: 6px;
}




@mixin placeholderColor($color) {
	::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    	color: $color;
	}
	:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
		color: $color;
		opacity:  1;
	}
	::-moz-placeholder { /* Mozilla Firefox 19+ */
		color: $color;
		opacity:  1;
	}
	:-ms-input-placeholder { /* Internet Explorer 10-11 */
		color: $color;
	}
}



body {
	position: relative;
	width: 100%;
}

ul {
	margin: 0px;
	padding: 0px;
	list-style: none;
}

a {
	color: $grayLink;
}

.row.isflex {
	display: flex;
	flex-wrap: wrap;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}
.row.isflex > [class*='col-'] {
	display: flex;
	flex-direction: column;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	position: relative;
}


.content {
    @include tablet() {
	    width: 90%;
	    margin: 0 auto;
    }
    
    @include wide {
        width: 85%;
    }
    
}


.progress.active {
	min-width: 400px;
	height: 20px!important;
	@include mobile {
		max-width: 290px;
		min-width: 190px;
	}
	.progress-bar {
		width: 0%;
		@include prefixer(transition, width 4s, -webkit -moz -o -ms);
	}	
}

.visible .progress.active{
	.progress-bar {
		width: 100%!important;
		@include prefixer(transition, width 4s, -webkit -moz -o -ms);
	}
}

.add-content {
	text-align:center;
	max-width: 80px;
	text-color: $fontColor;
	font-size: $fontSmall;
}

.no-padding {
	padding: 0px;
}

.no-margin {
	margin: 0px;
}

.bold {
	font-weight: bold;
}

.overlay {
	display: none;
	position: absolute;
	top: 0px;
	left: 0px;
	background: rgba( 0, 0 , 0, 0.5);
	width: 100%;
	height: 100%;
	z-index: 88;
}


#generalModal {
	padding: $spacing;
	border: 1px solid $gray1;
	position: fixed;
	z-index: 999999;
	top: 50%;
	left: 50%;
	max-width: 80%;
	display: table;
	max-height: 80%;
	min-height: 130px;
	border-radius: 5px;
	background: $white;
	
	> * {
		display: table-cell;
		vertical-align: middle;
	}

	&.visible  + .overlay{
		top: 0px;
		z-index: 888888;
		height: 100%;
	}
}
.active[data-component="toggler"] {
	[data-toggler-component="button"] {
		position: relative;
	}
	[data-toggler-component="button"]:after {
		content: "+";
		position: absolute;
		right: 10px;
	}
	

	[data-toggler-component="content"] {
		display: none;
	}

	&.enabled {
		[data-toggler-component="content"]{
			display: block;
		}

		[data-toggler-component="button"]:after {
			content: "-";		
		}
	}


}

button, input, select {
	&:focus {
		outline:0;
		&+.glyphicon.glyphicon-ok-sign {
			display: initial;
			position: relative;
    		z-index: 99;
    		margin-left: -#{$spacing * 4};
		}
	}
}

.input-wrapper {
	position: relative;
	padding: 0px;
	.glyphicon.glyphicon-ok-sign {
		display: none;
	}
}

.roundedImage {
	border-radius: 50%;
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    lighten($fontColor, 15%);
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
 	color:    lighten($fontColor, 15%);
   opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    lighten($fontColor, 15%);
   opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:    lighten($fontColor, 15%);
}



h1, h2 {
	margin-bottom: $spacing;
    padding-bottom: ($spacing/2) ;
    border-bottom: 3px solid $darkMainBlue;
}
.question {
	margin-bottom: $spacing;
    padding-bottom: ($spacing/2) ;
	border-bottom: 1px solid $darkMainBlue;
}
h5 {
    font-size: 18px;
    display: flex;
    align-items: center;
    margin-bottom: $spacing;
    justify-content: center;
    color: #000;
    i {
        margin-right: $spacing;
        font-size: 13px;
    }
}

.btn_main {
	padding: 12px;
    background: #1fb4ef;
    border: 0;
    border-radius: 5px;
    width: calc(100% - 24px);
    text-align: center;
    font-size: 17px;
    color: white;
    font-weight: bold;
    border: 2px solid #238cb5;
    cursor: pointer;
    display: inline-block;
    margin: 5px 0;
    &.half {
    	padding: 6px;
    	display: inline-block;
    	width: 48%;
    }
    
    &.full {
    	width: 100%;
    }
    
    
    &:hover {
        background: darken(#1fb4ef, 10%);
    }
}

.btn2 {
	background: white;
    color: #1fb4ef;
    padding: 12px;
    border: 0;
    border-radius: 5px;
    width: calc(100% - 24px);
    text-align: center;
    font-size: 17px;
    font-weight: bold;
    border: 2px solid #238cb5;
    display: inline-block;
    cursor: pointer;
    margin: 5px 0;
    &.half {
    	padding: 6px;
    	display: inline-block;
    	width: 48%;
    }
}

.btn3 {
	background: white;
    color: #1fb4ef;
    padding: 2px;
    display: block;
    margin-top: $spacing;
    border: 0;
    border-radius: 5px;
    width: calc(100% - 24px);
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    border: 2px solid #238cb5;
    cursor: pointer;
    
    &.half {
    	display: inline-block;
    	width: 48%;
    }
}

.btn_error, .btn_remove{
	background: #cc0000;
    color: white;
    padding: 12px;
    display: block;
    margin-top: $spacing;
    border: 0;
    border-radius: 5px;
    width: calc(100% - 24px);
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    border: 2px solid #FF1111;
    cursor: pointer;
    
    &.half {
    	display: inline-block;
    	width: 48%;
    }
   
}

.contact {
	margin-left: 1em;
	
	img {
		width: 30px;
		height: 30px;
	}
}

#notice{
	color: $darkMainBlue;
	font-weight: bold;
	text-align: center;
}