@import './variables.scss';
@import './medias.scss';

 #mapsLegend {
    font-family: Arial, sans-serif;
    background: #fff !important;
    padding: 10px;
    margin: 10px;
    border: 3px solid #000;
}

#mapsLegend h3 {
    margin-top: 0;
}
#mapsLegend img {
    vertical-align: middle;
}

#map {
    height: 300px;
    @include tablet(){
        height: 350px;
    }
    width: 100%;
    
}

.maps {
    width: 100%;
    @include tablet (){
      display: inline-block;
      width: 70%;
      margin-right: 5%;    
    }
    
}

// SEARCH


.controls {
    margin-top: 10px;
    border: 1px solid transparent;
    border-radius: 2px 0 0 2px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    height: 32px;
    outline: none;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

#mapsSearch {
    background-color: #fff;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
    margin-left: 12px;
    padding: 0 11px 0 13px;
    text-overflow: ellipsis;
    width: 300px;
}

#pac-input:focus {
    border-color: #4d90fe;
}

.pac-container {
    font-family: Roboto;
}

#type-selector {
    color: #fff;
    background-color: #4d90fe;
    padding: 5px 11px 0px 11px;
}

#type-selector label {
    font-family: Roboto;
    font-size: 13px;
    font-weight: 300;
}

#target {
    width: 345px;
}


.mapsFilters {
    vertical-align: top;
    
    @include max-mobile(){
        position: absolute;
        top: 90px;
        left: 30px;
        overflow: hidden;
            &.filter-open {
                .filterButton {
                    background: lighten ($darkMainBlue, 25%);
                }
                
                .filterContent{
                  height: 280px;
                  width: 250px;
                  overflow: auto;
                  padding: $spacing;
                  border: 2px solid #ccc;
                  
                }
            }
        .filterButton {
            color: white;
            padding: $spacing;
            border: 2px solid $lightMainBlue;
            background: $darkMainBlue;
            display: inline-block;
            border-radius: 50%;
            width: 25px;
            height: 25px;
            text-align: center;
            line-height: 25px;
        }
        
        .filterContent {
            margin-top: $spacing;
            background: white;
            border-radius: 5px;
            transition: height 0.5s;
            height: 0px;
            box-shadow: #ccc 3px 5px 12px;
        }
    }
    
    h3 {
      padding-bottom: $spacing;     
      border-bottom: 2px solid;
      text-transform: uppercase;
    }
    
    h3,h4 {
      margin-bottom: $spacing; 
    }
    
    h4 {
        margin-top: ($spacing * 2);
    }
    
    label {
        margin-bottom: ($spacing /2);
    }
}