// Color variables

$lightMainBlue: #7ed4f6;
$darkMainBlue: darken($lightMainBlue, 20%);

$grayShadown: #AAA;


//spacing
$spacing: 10px;

//sizes
$fontSizeSmall: 10px;
$fontSizeRegular: 14px;
$fontSizeBig: 18px
