<img src="https://s3.amazonaws.com/lospets-files/img/lospets_logo.png" class='roundedImage' /><br />
<p>Olá <%= @email %>!</p>

<% if @resource.try(:unconfirmed_email?) %>
  <p>Seu email foi alterado com sucesso para <%= @resource.unconfirmed_email %>.</p>
<% else %>
  <p>Seu email foi alterado com sucesso para <%= @resource.email %>.</p>
<% end %>
