<img src="https://s3.amazonaws.com/lospets-files/img/lospets_logo.png" class='roundedImage' /><br />
<p>Olá <%= @resource.email %>!</p>

<p>Alguém requisitou o link para alterar sua senha. Você pode alterar clicando no link abaixo.</p>

<p><%= link_to 'Altere minha senha', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Se você não requisitou esta alteração, por favor desconsidere este email.</p>
<p>Sua senha não será alterada até o link ser clicado.</p>
