<img src="https://s3.amazonaws.com/lospets-files/img/lospets_logo.png" class='roundedImage' /><br />
<p>Olá <%= @resource.email %>!</p>

<p>Sua conta está bloqueada devido a uma tentativa excessiva de logins inválidos.</p>

<p>Clique no link abaixo para desbloquear sua conta:</p>

<p><%= link_to 'Desbloqueie minha conta', unlock_url(@resource, unlock_token: @token) %></p>
