<footer>
    <div class="inferiorMenu">
        <div class='myInfo'>
            <small>
                Developed by Thiago K. Reque <br />
                LosPets - TCC - Faculdade Senac RS
            </small>
        </div>
        <div class="infos">
            <div class='socialMedias'>
                <ul>
                    <li>Facebook</li>
                    <li>Twitter</li>
                    <li>Instagram</li>
                </ul>
            </div>
            <div class='support'>
                <ul>
                    <li>1001 vira-latas</li>
                    <li>Patas dadas</li>
                    <li>Catiferos</li>
                </ul>
            </div>
        </div>
    </div>
</footer>