<footer>
    <div class="inferiorMenu">
        <div class="infos">
            <div class="content">
            
               <div class='support'>
                   <h5>Projetos que valem a pena conhecer</h5>
                   <ul>
                      <li> <a href="http://www.101viralatas.com.br/"> 1001 vira-latas </a> </li>
                       <li><a href="http://www.patasdadas.com.br/"> Patas dadas</a></li>
                       <li><a href="https://www.facebook.com/GatoseAmigos/"> Gatos e Amigos</a></li>
                       <li><a href="https://www.facebook.com/amigobichopoa/"> Amigo Bicho</a></li>
                       <li><a href="https://www.facebook.com/animais.portao/"> Animais de portão</a></li>
                   </ul>
                   <h5><i>Adote e tenha mais felicidade e amor na sua vida S2</i></h5>
               </div>
               
               <div class='socialMedias'>
                   <h5>Nos vemos por aqui</h5>
                <ul>
                    <li> <%= link_to image_tag('/assets/icons/socialMedia/facebook.png', alt: 'facebook'), "https://www.facebook.com/lospets.site" %></li>
                    <li> <%= link_to image_tag('/assets/icons/socialMedia/twitter.png', alt: 'twitter'), "https://twitter.com/lospets_site" %></li>                 </ul>
              </div>
            </div>
        </div>
        <div class='myInfo'>
            <div class="content">
              <small>
                Developed by Thiago K. Reque <br />
                LosPets - TCC - Faculdade Senac RS <br />
                Você pode me encontrar aqui:<br />
                    <%= link_to image_tag('/assets/icons/socialMedia/linkedin.png', alt: 'linkedin'), "https://www.linkedin.com/in/tkreque/" %> 
                    <%= link_to image_tag('/assets/icons/socialMedia/twitter.png', alt: 'twitter'), "https://twitter.com/Tkreque" %>
              </small>
            </div>
        </div>
    </div>
</footer>