<footer>
    <div class="inferiorMenu">
        <div class="infos">
            <div class="content">
            
               <div class='support'>
                   <h5> <i class="material-icons">star</i>Projetos que vale a pena conhecer</h5>
                   <ul>
                      <li>1001 vira-latas</li>
                       <li>Patas dadas</li>
                       <li>Catiferos</li>
                   </ul>
               </div>
               
               <div class='socialMedias'>
                   <h5><i class="material-icons">share</i> Nos vemos por aqui</h5>
                <ul>
                    <li>__Facebook</li>
                    <li>__Twitter</li>
                    <li>__Instagram</li>
                 </ul>
              </div>
            </div>
        </div>
        <div class='myInfo'>
            <div class="content">
              <small>
                Developed by Thiago K. Reque <br />
                LosPets - TCC - Faculdade Senac RS
              </small>
            </div>
        </div>
    </div>
</footer>