<footer>
    <div class="inferiorMenu">
        <div class="infos">
            <div class="content">
            
               <div class='support'>
                   <h5>Projetos que valem a pena conhecer</h5>
                   <ul>
                      <li> <a href="#"> 1001 vira-latas </a> </li>
                       <li><a href="#"> Patas dadas</a></li>
                       <li><a href="#"> Catiferos</a></li>
                   </ul>
               </div>
               
               <div class='socialMedias'>
                   <h5>Nos vemos por aqui</h5>
                <ul>
                    <li> <%= link_to image_tag('/assets/icons/socialMedia/facebook.png', alt: 'facebook'), root_path %></li>
                    <li> <%= link_to image_tag('/assets/icons/socialMedia/twitter.png', alt: 'facebook'), root_path %></li>
                    <li> <%= link_to image_tag('/assets/icons/socialMedia/instagram.png', alt: 'facebook'), root_path %></li>
                    <li> <%= link_to image_tag('/assets/icons/socialMedia/linkedin.png', alt: 'facebook'), root_path %></li>
                 </ul>
              </div>
            </div>
        </div>
        <div class='myInfo'>
            <div class="content">
              <small>
                Developed by Thiago K. Reque <br />
                LosPets - TCC - Faculdade Senac RS
              </small>
            </div>
        </div>
    </div>
</footer>